@charset "UTF-8";

html {
    font-size: 62.5%;
}
a {
    color: #ffffff;
    text-decoration: none;
}
.container {
    text-align: center;
}
.hero_wrap {
    background-size: cover;
    background-position: center;
    background-image: url(assets/img/hero-img.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}
.hero_wrap::after {
    position: absolute;
    background: rgba(0,0,0,0.6);
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.catchphrase {
    color: #ffffff;
    font-size: 6rem;
    z-index: 1;
}
.service_description {
    font-size: 4rem;
    padding: 8px 0;
    text-align: center;    
}
.production_sample {
    font-size: 4rem;
    padding: 8px 0;
    text-align: center;
}
.production_desc {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 8px 0;
    text-align: center;
}
.product {
    transition: 0.5s;
    width: 25%;
}
.product:hover {
    opacity: 0.5;
}
.production_flow {
    font-size: 4rem;
    padding: 8px 0;
    text-align: center;    
}
.price_plan {
    font-size: 4rem;
    padding: 8px 0;
    text-align: center;
}
.price_desc {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 8px 0;
    text-align: center;
}
.price_plan_type {
    display: flex;
    justify-content: center;
}
.price_plan_card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 6px #ccc;
    margin: 20px;
    padding: 20px;
    text-align: center;
}
.price_plan_name {
    font-size: 1.6rem;
    font-weight: bold;
}
.recommended {
    border: 2px solid #ffc0cb;
    margin: 8px;
    padding: 8px;
}
.persona {
    font-weight: bold;
}
.price_plan_price {
    font-size: 1.4rem;
    font-weight: bold;
}
.service_breakdown {
    display: inline-block;
    text-align: left;
}
.strikethrough {
    text-decoration: line-through;
}
.cta_btn {
    border: 0;
    background-color: #ffc0cb;
    color: #ffffff;
    display: block;
    font-weight: bold;
    margin: 0 auto;
    padding: 8px;
    transition: 0.5s;
}
.cta_btn:hover {
    opacity: 0.5;
}
.note {
    color: #fc0324;
    font-weight: bold;
}
.contact_form {
    font-size: 4rem;
    padding: 8px 0;
    text-align: center;    
}
.footer_menu {
    background-color: #ffc4e6;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
.operator_information {
    border-bottom: 1px solid #ffffff;
    font-size: 2rem;
    padding: 4px 0;
}
.copyright {
    font-size: 2rem;
}
@media screen and (max-width:768px) {
    .service_description {
        font-size: 2rem;    
    }
    .production_sample {
        font-size: 2rem;
    }
    .production_flow {
        font-size: 2rem; 
    }
    .price_plan {
        font-size: 2rem;
    }
    .price_plan_type {
        flex-direction: column;
    }
    .contact_form {
        font-size: 2rem;
    }
    .copyright {
        font-size: 1.6rem;
    }
}
@media screen and (max-width:425px) {
    .catchphrase {
        font-size: 3rem;
    }
    .copyright {
        font-size: 1.4rem;
    }
}
@media screen and (max-width:375px) {
    .catchphrase {
        font-size: 2.4rem;
    }
}