@charset "UTF-8";

html {
    font-size: 62.5%;
}
.container {
    text-align: center;
}
.hero_wrap {
    background-size: cover;
    background-position: center;
    background-image: url(assets/img/hero-img.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}
.hero_wrap::after {
    position: absolute;
    background: rgba(0,0,0,0.6);
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.catchphrase {
    color: #ffffff;
    font-size: 8rem;
    z-index: 1;
}
.service_description {
    font-size: 4rem;
    text-align: center;    
}
.production_sample {
    font-size: 4rem;
    text-align: center;
}
.price_plan {
    font-size: 4rem;
    text-align: center;
}
.price_plan_type {
    display: flex;
    justify-content: center;
}
.price_plan_card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 6px #ccc;
    margin: 20px;
    width: 300px;
}
.price_plan_name {
    text-align: center;
}
.price_plan_price {
    text-align: center;
}
.copyright {
    background-color: #ffc4e6;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
}