@charset "UTF-8";

html {
    font-size: 62.5%;
}
.container {
    text-align: center;
}
.hero_wrap {
    background-size: cover;
    background-position: center;
    background-image: url(assets/img/hero-img.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.catchphrase {
    color: #ffffff;
    font-size: 8rem;
}
.production-sample {
    font-size: 4rem;
    text-align: center;
}
.price_plan {
    font-size: 4rem;
    text-align: center;
}
.copyright {
    background-color: #ffc4e6;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
}